<div class="mypage-top">
<%= @user.username%>さんのマイページ
</div>

<% unless @user.creator.nil? %>
  <%= link_to "クリエーター用ページ", creator_path(@user.creator.id) %>
<% end %>

<% if @user.image? %>
   <%= image_tag(current_user.image.thumb.url) %>
<% end %>

<div class="mypage-info-bar">
  お気に入りのサウンド
</div>
<% if @likes.empty? %>
なし
<% end %>
<%= render 'sounds/sound', sounds: @likes %>

<div class="mypage-info-bar">
  ダウンロードしたサウンド
</div>
<% if @downloads.empty? %>
なし
<% end %>
<%= render 'sounds/sound', sounds: @downloads %>
