<div class="mypage-top">
<%= @user.username%>さんのマイページ
</div>



ユーザー情報<br>

<% if @user.image? %>
   <%= image_tag(@user.image.thumb.url) %>
<% end %>

<%= @user.username %><br>
  <% if @user.id = current_user.id %>
<%= @user.email %><br>

<% end %>

<% unless @user.creator.nil? %>
  クリエーター<br>
  <%= link_to "クリエーター用ページへ", creator_path(@user.creator.id) %>
<% end %>

  <%= link_to "編集", edit_user_registration_path %>

<div class="mypage-info-bar">
  お気に入りのサウンド
</div>
<% if @likes.empty? %>
なし
<% end %>
<%= render 'sounds/sound', sounds: @likes %>

<div class="mypage-info-bar">
  ダウンロードしたサウンド
</div>
<% if @downloads.empty? %>
なし
<% end %>
<%= render 'sounds/sound', sounds: @downloads %>
