
<div class="jumbotron jumbotron--extend">
    <div class="container-fluid jumbotron-container">
      <h1 class="site-name">BGMや効果音を無料でダウンロード</h1>
      <h3>動画制作に最適な"音"が見つかる</h3>
      <form class="form-extend">
          <div class="input-group">
            <input type="text" class="form-control" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-warning">検索</button>
            </div>
          </div>
      </form>
    </div>
</div>

<div class="info-bar">
  人気BGMランキング
</div>

<div class="index_contents">
  <% if @sounds != nil %>
    <% @sounds.each do |sound| %>
        <%= sound.title %>
        <%= audio_tag("/uploads/sound/sound_file/#{sound.id}/#{sound.sound_file.identifier}", id: 'player', :controls => true, :controlslist => "nodownload" ) %>
        <% sound.tag_list.each do |tag|%>
          <span class="label label-primary"><%= tag %></span>
        <% end %><br>
        <%= link_to "ダウンロード", download_sound_path(sound) %><br>
    <% end %>
  <% end %>
</div>


<div class="info-bar">
  人気効果音ランキング
</div>

<div class="index_contents">
  <% if @sounds != nil %>
    <% @sounds.each do |sound| %>
        <%= sound.title %>
        <%= audio_tag("/uploads/sound/sound_file/#{sound.id}/#{sound.sound_file.identifier}", id: 'player', :controls => true, :controlslist => "nodownload" ) %>
        <% sound.tag_list.each do |tag|%>
          <span class="label label-primary"><%= tag %></span>
        <% end %><br>
        <%= link_to "ダウンロード", download_sound_path(sound) %><br>
    <% end %>
  <% end %>
</div>
