<% unless current_user.creator.nil? %>
  <% if current_user.creator.id == @creator.id %>
    <%= link_to "サウンド登録ページへ", new_sound_path %>
  <% end %>
<% end %>

<div class="creator-page-info-bar">
  ステータス
</div>


<table class="table">
  <tr><td>いいねされた回数</td><td><%= @likes.count %></td></tr>
  <tr><td>ダウンロードされた回数</td><td><%= @downloads.count %></td></tr>
</table>

<div class="creator-page-info-bar">
  アクション履歴
</div>

<% if @sounds != nil %>
  <% @sounds.each do |sound| %>
      <%= sound.title %>
      <% sound.tag_list.each do |tag|%>
        <span class="label label-primary"><%= tag %></span>
      <% end %><br>
      <%= audio_tag("/uploads/sound/sound_file/#{sound.id}/#{sound.sound_file.identifier}", id: 'player', :controls => true) %>
  <% end %>
<% end %>
