<% if @downloads != nil %>
  <% @downloads.each do |download| %>
    <div id="sound-<%=download.sound.id %>">
      <%=link_to download.sound.creator.user.username,user_path(download.sound.creator) %>

      <%= download.sound.title %>
      <%= audio_tag("/uploads/sound/sound_file/#{download.sound.id}/#{download.sound.sound_file.identifier}", id: 'player', :controls => true, :controlslist => "nodownload" ) %>
      <% download.sound.tag_list.each do |tag|%>
        <span class="label label-primary"><%= tag %></span>
      <% end %><br>
      <%= render "likes/like", sound: download.sound %>
      <%= link_to "ダウンロード", sound_downloads_path(download.sound), method: :post %><br>
    </div>
  <% end %>
<% end %>
