<% if @sounds != nil %>
  <% @sounds.each do |sound| %>
    <div id="sound-<%=sound.id %>">
      <%= sound.title %>
      <%= audio_tag("/uploads/sound/sound_file/#{sound.id}/#{sound.sound_file.identifier}", id: 'player', :controls => true, :controlslist => "nodownload" ) %>
      <% sound.tag_list.each do |tag|%>
        <span class="label label-primary"><%= tag %></span>
      <% end %><br>
      <%= render "likes/like", sound: sound %>
      <%= link_to "ダウンロード", download_sound_path(sound) %><br>
    </div>
  <% end %>
<% end %>
