<% if sounds != nil %>
  <% sounds.each do |sound| %>
    <div id="sound-<%=sound.id %>">
      <%=link_to sound.creator.user.username,creator_path(sound.creator) %>
      <%= sound.title %>
      <%= audio_tag("/uploads/sound/sound_file/#{sound.id}/#{sound.sound_file.identifier}", id: 'player', :controls => true, :controlslist => "nodownload" ) %>
      <% sound.tag_list.each do |tag|%>
        <span class="label label-primary"><%= tag %></span>
      <% end %><br>
      <%= render "likes/like", sound: sound %>
      <%= link_to sound_downloads_path(sound),class: "dl-form", method: :post do%>
        <i class="fas fa-download download-black"></i>
      <% end %>
      <%= sound.downloads_count %>
    </div>
  <% end %>
<% end %>
