<!DOCTYPE html>
<html>
  <head>
    <title>Onjin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
      <p><%= link_to "クリエーター登録", new_creator_path, method: :get %>
    <% end %>
    <%= yield %>

    <h1>Ajax#index</h1>
    <p id="hoge">赤色になるよ</p>

    <script>
      $("#hoge").css("color","red")
    </script>

  </body>
</html>
