<!DOCTYPE html>
<html>
  <head>
    <title>Onjin</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar navbar-expand-sm navbar-dark mb-2 navbar--extend">
      <a href="/" class="navbar-brand">ONJIN</a>

      <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navmenu1"
          aria-controls="navmenu1"
          aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= render 'sounds/search' %>
      <div class="collapse navbar-collapse" id="navmenu1">
        <div class="navbar-nav">



          <% if user_signed_in? %>
            <div class="navbar-text">
              <%= current_user.username %>
            </div>
            <% unless request.path.include?("users/#{current_user.id}")%>
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-item nav-link" %>
            <% end %>

            <% unless current_user.creator.nil? %>
              <% unless request.path.include?("creators/#{current_user.creator.id}")%>
                <%= link_to "クリエーター用ページ", creator_path(current_user.creator.id), class: "nav-item nav-link" %>
              <% end %>
            <% end %>

            <% if current_user.creator.nil? %>
              <%= link_to "クリエーター登録", new_creator_path, method: :get, class: "nav-item nav-link"  %>
            <% end %>

            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          <% else%>
              <%= link_to '', class: "nav-link", "data-toggle": "modal", "data-target": "#signinModal" do %>
                ログイン
              <% end %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 200px auto; height: 700px;">
    <!--以下modal-dialogのCSSの部分で modal-lgやmodal-smを追加するとモーダルのサイズを変更することができる-->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modal">ログインしてください</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :login %><br />
              <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <%= f.hidden_field :url, value: request.fullpath %>

            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>

          <%= render "users/shared/links_sign_in" %>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>


    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class=".container-fluid custome-container">

      <%= yield %>

    </div>

  </body>
  <script>
      $( function(){
          $( 'audio' ).audioPlayer();
      });
  </script>

</html>
