<!DOCTYPE html>
<html>
  <head>
    <title>Onjin</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
        <% unless request.path.include?("users/#{current_user.id}")%>
          <p><%= link_to "マイページ", user_path(current_user.id)%></p>
        <% end %>
      <% if current_user.creator.nil? %>
        <p><%= link_to "クリエーター登録", new_creator_path, method: :get %></p>
      <% end %>
    <% end %>
    <%= yield %>


  </body>
</html>
